

<div class="index">
  <h1><%= title %></h1>

  <div class="searchBar">
    <form action="/search" method="get">
    <input id="search-input" type="search" placeholder="  Search by country"
      name="placeSearch" />
    <input type="submit" class="searchButton" value="search" />
    </form>
  </div>
</div>

<div class="index-list">

<h3> List of Places </h3>


  <% if(currentUser) { %>
     <a class="full-list" href="/places"> View full List </a>
  <% } %>
</div>

  <div class="container">
    <%  listOfPlaces.forEach((onePlace) => { %>
      <div class="index-list-place">
        <ul class="list">
          <li>
            <h3> <%= onePlace.name %> </h3>
            <p> <%= onePlace.country %> </p>
          </li>

          <a href="/places/details/<%=onePlace._id%>">
               View Details
          </a>
          </ul>
        </div>
    <% }) %>
  </div>
