<h1 class="places-list-header">Full List of Places</h1>


<ul class="list">
  <%  listOfPlaces.forEach((onePlace) => { %>
    <div class="places-list">
      <li>
        <h3> <%= onePlace.name %> </h3>
        <p> <%=onePlace.country %> </p>
        <img src="<%=onePlace.image %>" />
      </li>
      <li>

        <a href="/places/details/<%=onePlace._id%>">
           View Details
        </a>
      </li>
    </div>
  <%  })  %>
</ul>

<a class="new-place" href="places/new"> Add a new Place </a>
