<h1> Add a new Place </h1>

<form method="post" action="/places">
  <label for="place-name-input"> Place Name </label>
  <input id="place-name-input" type="text" placeholder="e.g. Playa Caribe"
      name="placeName" />
  <br />

  <label for="place-country-input"> Place Country </label>
  <input id="place-country-input" type="text"
      placeholder=" e.g. Venezuela" name="placeCountry" />
  <br />

  <label for="place-city-input"> Place City </label>
  <input id="place-city-input" type="text"
      placeholder=" e.g. Margarita" name="placeCity" />
  <br />

  <label for="product-image-input"> Image URL </label>
  <input id="product-image-input" type="text"
    placeholder="e.g. https://example.com/paradise.gif" name="placeImage" />
  <br />

  <label for="place-comments-input"> Comments </label>
  <textarea id="place-comments-input" placeholder="e.g. Beautiful place for a relax day at the beach"
    name="placeComments"></textarea>
  <br />

  <button> Save this place </button>
</form>
