<a class="edit-place" href="/places/<%= placeDetails._id %>/edit"> Edit Place</a>

<div class="place-details">
  <h1> <%= placeDetails.name %> </h1>

  <h3> <%= placeDetails.country %> </h3>

  <img src="<%= placeDetails.image %>">
</div>
