<h2 class="places-list-header"> Search Results </h2>


<ul class="list">
   <% listOfResults.forEach((onePlace) => { %>
     <div class="places-list">
       <li>
         <h3> <%= onePlace.name %> </h3>
         <p> <%=onePlace.country %> </p>
         <img src="<%=onePlace.image %>" />
       </li>
       <li>

         <a href="/places/details/<%=onePlace._id%>">
            View Details
         </a>
       </li>
     </div>
   <% }) %>
</ul>
